.single {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  will-change: opacity;
}

.collect {
  margin: 20px 10px;
  padding: 0;
  display: block;
  float: left;
  width: calc(25vw - 20px);
  height: calc(25vw - 20px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.collectMobile{
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
}

.codes {
  flex: 1 1 auto;
  width: 50%;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid royalblue;
  border-radius: 10px;
}

.codesTab {
  flex: 0 0 auto;
  height: 42px;
  display: flex;
  align-items: stretch;
  overflow: auto;
}

.otherTab {
  padding: 0 10px;
  background: rgba($color: #666, $alpha: 0.6);
  color: rgba($color: #fff, $alpha: 0.6);
  line-height: 42px;
  border-right: 1px solid #fff;
  cursor: pointer;
  &:hover {
    background: rgba($color: #666, $alpha: 0.4);
    color: rgba($color: #fff, $alpha: 1);
  }
}

.activeTab {
  background: #f5f2f0;
  color: #3a73d1;
  padding: 0 10px;
  line-height: 42px;
  border-right: 1px solid #fff;
  cursor: pointer;
  &:hover {
    color: #0858db;
  }
}

.codesSection {
  display: flex;
  flex: 1 1 auto;
  overflow: scroll;
  background: #f5f2f0;
}

.otherSection {
  display: none;
}

.activeSection {
  display: block;
}

.result {
  flex: 1 1 auto;
  margin: 20px;
  padding: 20px;
  width: 50%;
  border: 1px solid royalblue;
  border-radius: 10px;
  box-sizing: content-box;
}

.mobileResult {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  display: block;
}

.collect .result {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid royalblue;
  border-radius: 10px;
}

.loading {
  position: fixed;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #b3d4fc;
  animation: spin 1.8s ease infinite;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: inherit;
    width: inherit;
    background: inherit;
    border-radius: inherit;
    animation: spin 1.8s ease infinite;
  }
  &::before {
    left: calc(50% - 80px);
    background: #07a;
  }
  &::after {
    left: calc(50% + 48px);
    background: #690;
  }
}

.mobile {
  & > .codes {
    display: none;
  }
}

.loaded {
  opacity: 1;
}

.error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorTitle {
  color: red;
  font-weight: 700;
  font-size: 24px;
}
.errorTip {
  color: #999;
  font-size: 12px;
}

@keyframes spin {
  0% {
    top: calc(50% - 16px);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 80px);
    transform: rotate(-180deg);
  }
  100% {
    top: calc(50% - 16px);
    transform: rotate(-360deg);
  }
}
