{
  "extends": "stylelint-config-standard",
  "rules":{
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "block-closing-brace-newline-before": null,
    "rule-empty-line-before": null,
    "comment-empty-line-before": null,
    "at-rule-empty-line-before": null,
    "number-leading-zero": null
  }
}